<table>
    <tr>
        <th>RoomNo</th>
        <th>RoomType</th>
        <th>Rent</th>
        <th>IsVacant</th>
    </tr>
    <tr>
        <td>1001</td>
        <td>Single</td>
        <td>2000</td>
        <td>0</td>
    </tr>
    <tr>
        <td>1002</td>
        <td>Double</td>
        <td>2500</td>
        <td>0</td>
    </tr>
    <tr>
        <td>1001</td>
        <td>SingleAC</td>
        <td>3000</td>
        <td>0</td>
    </tr>
    <tr>
        <td>1001</td>
        <td>DoubleAC</td>
        <td>4000</td>
        <td>0</td>
    </tr>

</table>
