@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "CustomErrorPage";
}

<h2>CustomErrorPage</h2>
<h2>Error Occured.</h2>

<p>@Model.Exception.Message in the @Model.ControllerName controller in the @Model.ActionName action.</p>
<p></p>

